<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <!--template标签 是vue提供给我们的没有任何的实际意义,用来包裹元素用的-->
    <!--v-show不支持 template,只有v-if使用-->
    <template v-if="true">
        <div>很帅</div>
        <div>很帅</div>
        <div>很帅</div>
        <div>很帅</div>
    </template>
    <div v-else>很丑</div>
    <button @click="cut=!cut">点我啊</button>
    <!--默认情况下在切换dom时相同的结构会被复用,如果不需要复用 需要加key-->
    <template v-if="cut">
        <label>注册</label>
        <input type="text" key="1">
    </template>
    <template v-else>
        <label>登录</label>
        <input type="text" key="2">
    </template>
</div>
<script src="node_modules/vue/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el:"#app",
        data:{
            cut:true
        },
    })
</script>
</body>
</html>